body {
	padding-top: 50px;
}

section {
	padding-top:40px;
	margin-top:-40px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.footer {
	position:fixed;
	left:0px;
	bottom:0px;
	padding-top: 6px;
	height:45px;
	width:100%;
	background:#EFEFEF;
}

.navbar {
	background-color: #428bca;
	border: none;
}

.navbar-brand {
	color: #FFFFFF !important;
}

.window-height {
	height: 100%;
}

.section {
	padding-top: 130px;
	text-align: center;
}

.circle-container {
	position: relative;
	width: 19em;
	height: 19em;
	padding: 2em;
	border: solid 1px;
	/*color: #428bca;*/
	border-radius: 50%;
	margin: 1.75em auto 0;
}

.circle-container div {
	display: block;
	position: absolute;
	top: 50%; left: 50%;
	width: 4em; height: 4em;
	margin: -2em;
}

.circle-button {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 4px solid #000;
}

.circle {
	border-radius: 50%;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
	width: 100px;
	height: 100px;
	/*padding-top: 1em;*/
	/*background: #DDDDDD;*/
	/*border: 4px solid #333333;*/
	text-align: center;
}